body{
	font-family: 'Pacifico', cursive;
	background-color: ghostwhite;
	display: flex;
	justify-content: center;
}
#main {
	text-align: center;
}

#main > button {
	color: white;
	background-color: #66B5FF;
	border: 2px solid #FFCA3A;
	border-radius: 5px;
	font-size: 1vw;
	font-weight: bold;
	margin: 0.6vw;
	padding: 8px;
}

#main > button:hover {
	cursor: pointer;
	background-color: dodgerblue;
}

#bigText {
	color: royalblue;
	text-shadow: 2px 2px #FFCA3A;
	font-size: calc(2vw + 10px);
	margin-top: 10px;
	margin-bottom: 10px;
}

#board {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 0.4vw;
	width: calc(30vw + 10px);
	height: calc(30vw + 10px);
	padding: 0.5vw;
	box-sizing: border-box;
	border: 1px solid #FFCA3A;
	border-radius: 2.5%;
	background-color: #CCE6FF;
}

#board > input {
	color: #FFCA3A;
	font-family: 'Finger Paint', cursive;
	font-size: 5vw; 
	text-align: center;
	border: 2px solid dodgerblue;
	border-radius: 5%;
	background-color: #66B5FF;
}

#board > input:hover {
	cursor: pointer;
	background-color: dodgerblue;
}

#container {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

#popup {
	background-color: #FFCA3A;
	background-image: url("images/cat.gif");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	width: 30vw;
	height: 20vw;
	text-align: center;
}

#message {
	color: royalblue;
	text-shadow: 3px 3px white;
	font-size: calc(2vw + 10px);
	margin-top: 7vw;
}

#popup > img {
	float: right;
	width: 2vw;
	margin: 1vw;
}

#popup > img:hover {
	cursor: pointer;
}

